<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      /*html {
                  zoom: 0.75; style="width: 95%; border-width: thin; border-spacing: 0px;font-size: 9px;border-color: grey;" border="1" 
                }*/
      html {
        zoom: 0.8;
      }
      .center {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        width: 99%;
        /* border-collapse:collapse; */
        text-align: center;
        font-size: 8px;
        font-family: "Arial";
        border-style: solid;
        border-color: #000000;
      }

      .center th,
      .center td {
        border-left: none;
        border-bottom: none;
      }

      .col-item {
        border-bottom: none;
        border-top: none;
      }

      .border-b {
        border-bottom: 1px solid #000000 !important;
      }
      .border-t {
        border-top: 1px solid #000000;
      }

      .border-tr {
        border-top: 1px solid #000000;
        border-right: 1px solid #000000;
      }
      .border-r {
        border-right: 1px solid #000000;
      }

      .border-rb {
        border-right: 1px solid #000000;
        border-bottom: 1px solid black !important;
      }

      th.col-header-item {
        border-bottom: 1px solid #000000;
        border-right: 1px solid #000000;
      }
    </style>
  </head>
  <body>
    <table
      class="center"
      cellspacing="0"
      cellpadding="2"
      style="border: 1px solid #000000"
    >
      <tr>
        <td style="width: 20%; text-align: left; padding-left: 10px">
          <img
            src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg?t=st=1728547256~exp=1728550856~hmac=e6a33416dc3892290122d9521e4513e6318960d34f1267102626b08b9055f99b&w=740"
            height="45"
          />
        </td>
        <td style="text-align: center; width: 60%">
          <span
            style="
              font-size: 18px;
              text-align: center;
              padding: 0px 15px 0px 15px;
              border-radius: 5px;
            "
            ><strong>PENERIMAAN BARANG</strong></span
          >
        </td>
        <th
          style="
            width: 20%;
            padding: 3px;
            text-align: left;
            vertical-align: bottom;
          "
        >
          <span>Doc No. FRM ACC.03.02.rev.01</span>
        </th>
      </tr>
      <tr>
        <td colspan="3" style="padding: 0px; margin: 0px" class="border-t">
          <table
            cellspacing="0"
            cellpadding="5"
            style="width: 100%; text-align: left"
          >
            <tr>
              <td style="width: 10%">
                <span style="display: flex; justify-content: space-between"
                  >Diterima Dari <span>:</span></span
                >
              </td>
              <td style="width: 56.65%" class="border-r">
                <!-- ............................. -->
              </td>
              <td style="width: 33.35%">
                <span
                  style="
                    display: flex;
                    justify-content: space-between;
                    width: 60px;
                  "
                  >No PO <span>: </span></span
                >
              </td>
            </tr>
            <tr>
              <td style="width: 10%">
                <span style="display: flex; justify-content: space-between"
                  >No. Surat Jalan <span>:</span></span
                >
              </td>
              <td style="width: 56.65%" class="border-r">
                <!-- ............................. -->
              </td>
              <td style="width: 33.35%">
                <span
                  style="
                    display: flex;
                    justify-content: space-between;
                    width: 60px;
                  "
                  >No FPB <span>:</span></span
                >
              </td>
            </tr>
            <tr>
              <td style="width: 10%">
                <!-- <span style="display: flex; justify-content: space-between"
                  >Diterima Oleh <span>:</span></span
                > -->
              </td>
              <td style="width: 56.65%" class="border-r">
                <!-- ............................. -->
              </td>
              <td style="width: 33.35%">
                <span
                  style="
                    display: flex;
                    justify-content: space-between;
                    width: 60px;
                  "
                  >Tanggal Terima <span>:</span></span
                >
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding: 0px; margin: 0px" class="border-t">
          <table
            cellspacing="0"
            cellpadding="5"
            style="width: 100%; text-align: center"
          >
            <thead>
              <tr>
                <th style="width: 3%" class="col-header-item">No</th>
                <th style="width: 52%" class="col-header-item">Uraian</th>
                <th class="col-header-item">Qty</th>
                <th class="col-header-item">Uom</th>
                <th colspan="2" style="width: 33.35%; border-right:none;" class="col-header-item">Keterangan</th>
              </tr>
            </thead>
            <tbody>
              <!-- <% var index = 1; [1,2,3,4,5,7,8,9,10].forEach( item => { %> -->
              <tr>
                <td style="text-align: center" class="border-rb">1</td>
                <td style="text-align: left" class="border-rb">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Sequi, libero!
                </td>
                <td style="text-align: center" class="border-rb">10</td>
                <td style="text-align: center" class="border-rb">Pcs</td>
                <td colspan="2"
                  style="text-align: center; border-right: none"
                  class="border-rb"
                >
                  Lorem ipsum dolor sit amet.
                </td>
              </tr>
              <!-- <% index++; } ) %> -->
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="padding: 0px; margin: 0px">
          <table
            cellspacing="0"
            cellpadding="7"
            style="width: 100%; text-align: center"
          >
            <tr>
              <th style="width: 25%">Diserahkan Oleh</th>
              <th style="width: 30%">Diterima Oleh</th>
            </tr>
            <tr>
              <td>
                <!-- <%
                        if( qrCode.approval1.length > 0 ){

                    %> -->
                <table style="width: 100%; height: 50px;">
                  <tr>
                    <!-- <% for(var i = 0; i < approver1.length; i++ ) { %> -->
                    <!-- <td><%=approver1[i].user.name%></td> -->
                    <td>(...........................................)</td>
                    <!-- <% }%> -->
                  </tr>
                </table>

                <!-- <%
                        }
                    %> -->
              </td>
              <td >
                <!-- <%
                        if( qrCode.approval1.length > 0 ){

                    %> -->
                <table style="width: 100%; height: 50px">
                  <tr>
                    <!-- <% for(var i = 0; i < approver1.length; i++ ) { %> -->
                    <!-- <td><%=approver1[i].user.name%></td> -->
                    <td>(...........................................)</td>
                    <!-- <% }%> -->
                  </tr>
                </table>

                <!-- <%
                        }
                    %> -->
              </td>
              <!-- <td style="text-align: center;vertical-align: middle;">
                        <%
                            if( qrCode.approval2 != '' ){
                        %>
                            <img src="<%=qrCode.approval2%>" width="80">
                        <%
                            }
                        %>                                
                    </td> -->
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
